<app-menu-top type_menu="home"></app-menu-top>
<!--home-->
<div class="container-fluid">
  <div class="row">
      <div class="col-md-2 align-baseline vertical d-none d-sm-none d-md-block">
        <div class="vertical">
          <nav class="navbar navbar-light bg-light left-menu vertical-text ">
            <li class="nav-item">
              <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Instagram</a>
            </li>
          </nav>
        </div>
      </div>
      <div class="col-md-8 text-left home-content">
        <div>INTRODUCTION</div>
        <div><h2>Photography is <br />a journey.</h2></div>
        <div class="home-line"></div>
        <div class="text-justify home-sub-content">My advice to everyone is to create life, not to consume it. I'm curious to see how many emotions now appear in things created with the help of complex technologies. They are so loaded with different feelings that it is no longer possible to separate emotions and work from the
          instrument on which it is done.</div>
        <div class="sub-title-squares">
          <div class="squares"></div>
          <div class="home-discover">
            DISCOVER
          </div>
        </div>
      </div>
    <div class="col-md-2 align-baseline vertical-right text-right d-none d-sm-none d-md-block">

      <div class="home-vertical-text" style="width: 180px">
        EXPLORE MORE<div class="home-line home-line-right"></div>
      </div>
    </div>
  </div>
</div>

<!--hello-->

<div class="container-fluid separation">
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="text-center hello">
        <tr>
          <td valign="top" align="right" class="td1">
            <img src="./assets/images/image-left.png" class="home-img-left">
          </td>
          <td align="center" class="td2">
            <img src="./assets/images/image.png" class="shadow-img">
          </td>
          <td valign="bottom" class="td3">
            <img src="./assets/images/image-right.png" class="home-img-right">
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
        <hr class="hr-vertical" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center separation-2">
      <div class="text-center block-section-hello">
        <h2>Hello</h2>
        <div class="squares"></div>
      </div>
    </div>
  </div>

  <!--collage-->
  <div class="row">
    <div class="col-md-12 text-center separation-2">
      <div class="text-center block-section-text">
        All that we do is work on the style of life, on "being." The object as such is not very interesting. I wonder how people will live with him, what metamorphoses he will undergo in the house.
        I always liked very simple things. In all. Doing simple things is the most difficult thing.
        If we talk about simplicity, then it is a synthesis.
      </div>
      <div class="block-section-author separation-2">
        - Edward Oliver
      </div>
    </div>
  </div>
  <div class="row separation-1">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="sub-title-squares text-justify home-text-section-a">
        <h2>My Works.</h2>
      </div>
      <div>
        <hr class="home-line2" />
      </div>
      <div class="normal-text text-justify home-text-section-c">
        A photo - is a search for what can get info the frame. When you limit <br />
        events to a frame - you change these events
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row separation-1 text-center">
    <table class="collage-img" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="bottom">
          <div class="home-card">
            <img src="./assets/images/image3.png">
            <div>
              <div>
                <div class="text-justify home-card-title">
                  MAKE
                </div>
                <div class="text-justify">
                  Canon
                </div>
                <div class="text-justify home-card-title">
                  MODEL
                </div>
                <div class="text-justify">
                  Canon EOS ED Mark II
                </div>
                <div class="text-justify home-card-title">
                  SHUTTER SPEED
                </div>
                <div class="text-justify">
                  1/4000s
                </div>
                <div class="text-justify home-card-title">
                  APERTURE
                </div>
                <div class="text-justify">
                  f/4.5
                </div>
                <div class="text-justify home-card-title">
                  LOCAL LENGTH
                </div>
                <div class="text-justify">
                  230mm
                </div>
                <div class="text-justify home-card-title">
                  ISO
                </div>
                <div class="text-justify">
                  250
                </div>
              </div>
              <div class="icon-data">
                <img src="./assets/images/icon-info.png" class="home-icon-prod">
              </div>
            </div>
          </div>
        </td>
        <td valign="bottom" rowspan="2">
          <img src="./assets/images/image4.png">
        </td>
        <td colspan="bottom" colspan="3">
          <img src="./assets/images/image5.png">
        </td>
      </tr>
      <tr>
        <td valign="top">
          <img src="./assets/images/image3.png">
        </td>
        <td>
        </td>
        <td valign="top">
          <img src="./assets/images/image6.png">
        </td>
        <td valign="top">
          <div class="home-card">
            <img src="./assets/images/image3.png">
            <div>
              <div>
                <div class="text-justify home-card-title">
                  MAKE
                </div>
                <div class="text-justify">
                  Canon
                </div>
                <div class="text-justify home-card-title">
                  MODEL
                </div>
                <div class="text-justify">
                  Canon EOS ED Mark II
                </div>
                <div class="text-justify home-card-title">
                  SHUTTER SPEED
                </div>
                <div class="text-justify">
                  1/4000s
                </div>
                <div class="text-justify home-card-title">
                  APERTURE
                </div>
                <div class="text-justify">
                  f/4.5
                </div>
                <div class="text-justify home-card-title">
                  LOCAL LENGTH
                </div>
                <div class="text-justify">
                  230mm
                </div>
                <div class="text-justify home-card-title">
                  ISO
                </div>
                <div class="text-justify">
                  250
                </div>
              </div>
              <div class="icon-data">
                <img src="./assets/images/icon-info.png" class="home-icon-prod">
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="row separation-1 text-right">
    <table class="explorer-galery">
      <tr>
        <td class="explorer-galery-hr"><hr /></td>
        <td>EXPLORE GALERY</td>
      </tr>
    </table>
  </div>
  <!--number-->
  <div class="row separation-1">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 home-number-section">
      <div class="row">
        <div class="col-md-4">
          <table cellspacing="0" cellspacing="0">
            <tr>
              <td><hr/></td>
              <td>
                <div class="width-number number-b"><h3>1270</h3><div class="squares"></div></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-info-number">
                <div>Clients</div>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table>
            <tr>
              <td><hr/></td>
              <td>
                <div class="width-number"><h3>4357</h3>
                  <div class="squares"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-info-number">
                <div>Photos</div>

              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table>
            <tr>
              <td><hr/></td>
              <td>
                <div class="width-number"><h3>634</h3><div class="squares"></div></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-info-number">
                <div>Albums</div>

              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
  <div class="row separation">
      <div class="col-md-12 text-center">
        <h2>Testimonials.</h2>
      </div>
  </div>
  <!--testimonials-->
  <div class="row separation-2">
    <div class="col-md-12 text-center">
      <hr class="home-hr-testimonials"/>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide separation" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="home-testimonials">
          <div>
            <h4>01.</h4>
            <div class="squares"></div>
          </div>
          <img src="./assets/images/image6.png"/>
          <img src="./assets/images/image-left.png" class="image-left"/>
          <hr class="home-hr-testimonials2" />
          <div class="text-content text-justify">
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
          </div>
          <div class="separation-2">
            Alison <span style="font-weight: bold">Cooper</span>
          </div>
          <div class="home-card-title separation-3">
            LEX company
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="home-testimonials">
          <div>
            <h4>02.</h4>
            <div class="squares"></div>
          </div>
          <img src="./assets/images/image6.png"/>
          <img src="./assets/images/image-left.png" class="image-left"/>
          <hr class="home-hr-testimonials2" />
          <div class="text-content text-justify">
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
          </div>
          <div class="separation-2">
            Alison <span style="font-weight: bold">Cooper</span>
          </div>
          <div class="home-card-title separation-3">
            LEX company
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="home-testimonials">
          <div>
            <h4>03.</h4>
            <div class="squares"></div>
          </div>
          <img src="./assets/images/image6.png"/>
          <img src="./assets/images/image-left.png" class="image-left"/>
          <hr class="home-hr-testimonials2" />
          <div class="text-content text-justify">
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
            Form me desing is a quality of life. Good  desing has  litle to do give
          </div>
          <div class="separation-2">
            Alison <span style="font-weight: bold">Cooper</span>
          </div>
          <div class="home-card-title separation-3">
            LEX company
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!--precing-->
  <div class="row separation-1">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="sub-title-squares text-justify home-text-section-a">
        <h2>My Pricing.</h2>
      </div>
      <div>
        <hr class="home-line2" />
      </div>
      <div class="normal-text text-justify home-text-section-c">
        A photo - is a search for what can get info the frame. When you limit <br />
        events to a frame - you change these events
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row separation-1">
    <div class="col-md-3" style="position: relative">
      <div class="section-pricing">
        <img src="./assets/images/image9.png" class="image-pricing">
        <div class="pricing-content normal-text">
          <div>
            <h4>Model</h4>
          </div>
          <div class="pricing-squares">
            <div><h4>Photography.</h4></div>
            <div class="squares"></div>
          </div>

          <div class="pricing-content-b">
              <div class="text-justify home-card-title">
                MAKE
              </div>
              <div class="text-justify">
                Canon
              </div>
              <div class="text-justify home-card-title">
                MODEL
              </div>
              <div class="text-justify">
                Canon EOS ED Mark II
              </div>
              <div class="text-justify home-card-title">
                SHUTTER SPEED
              </div>
              <div class="text-justify">
                1/4000s
              </div>
              <div class="text-justify home-card-title">
                APERTURE
              </div>
              <div class="text-justify">
                f/4.5
              </div>
              <div class="text-justify home-card-title">
                LOCAL LENGTH
              </div>
              <div class="text-justify">
                230mm
              </div>
              <div class="text-justify home-card-title">
                ISO
              </div>
              <div class="text-justify">
                250
              </div>
            </div>
            <div class="footer-pricing">
              <table>
                <tr>
                  <td>
                    <h4>50$</h4>
                  </td>
                  <td>
                    <hr class="pricing-explore-hr"/>
                  </td>
                  <td>
                    <h4>EXPLORE</h4>
                  </td>
                </tr>
              </table>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="section-pricing">
        <div class="layer"></div>
        <img src="./assets/images/image9.png" class="image-pricing">
        <div class="pricing-content normal-text">
          <div>
            <h4>Model</h4>
          </div>
          <div class="pricing-squares">
            <div><h4>Photography.</h4></div>
            <div class="squares"></div>
          </div>

          <div class="pricing-content-b">
            <div class="text-justify home-card-title">
              MAKE
            </div>
            <div class="text-justify">
              Canon
            </div>
            <div class="text-justify home-card-title">
              MODEL
            </div>
            <div class="text-justify">
              Canon EOS ED Mark II
            </div>
            <div class="text-justify home-card-title">
              SHUTTER SPEED
            </div>
            <div class="text-justify">
              1/4000s
            </div>
            <div class="text-justify home-card-title">
              APERTURE
            </div>
            <div class="text-justify">
              f/4.5
            </div>
            <div class="text-justify home-card-title">
              LOCAL LENGTH
            </div>
            <div class="text-justify">
              230mm
            </div>
            <div class="text-justify home-card-title">
              ISO
            </div>
            <div class="text-justify">
              250
            </div>
          </div>
          <div class="footer-pricing">
            <table>
              <tr>
                <td>
                  <h4>50$</h4>
                </td>
                <td>
                  <hr class="pricing-explore-hr"/>
                </td>
                <td>
                  <h4>EXPLORE</h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="section-pricing">
        <img src="./assets/images/image9.png" class="image-pricing">
        <div class="pricing-content normal-text">
          <div>
            <h4>Model</h4>
          </div>
          <div class="pricing-squares">
            <div><h4>Photography.</h4></div>
            <div class="squares"></div>
          </div>

          <div class="pricing-content-b">
            <div class="text-justify home-card-title">
              MAKE
            </div>
            <div class="text-justify">
              Canon
            </div>
            <div class="text-justify home-card-title">
              MODEL
            </div>
            <div class="text-justify">
              Canon EOS ED Mark II
            </div>
            <div class="text-justify home-card-title">
              SHUTTER SPEED
            </div>
            <div class="text-justify">
              1/4000s
            </div>
            <div class="text-justify home-card-title">
              APERTURE
            </div>
            <div class="text-justify">
              f/4.5
            </div>
            <div class="text-justify home-card-title">
              LOCAL LENGTH
            </div>
            <div class="text-justify">
              230mm
            </div>
            <div class="text-justify home-card-title">
              ISO
            </div>
            <div class="text-justify">
              250
            </div>
          </div>
          <div class="footer-pricing">
            <table>
              <tr>
                <td>
                  <h4>50$</h4>
                </td>
                <td>
                  <hr class="pricing-explore-hr"/>
                </td>
                <td>
                  <h4>EXPLORE</h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="section-pricing">
        <div class="layer"></div>
        <img src="./assets/images/image9.png" class="image-pricing">
        <div class="pricing-content normal-text">
          <div>
            <h4>Model</h4>
          </div>
          <div class="pricing-squares">
            <div><h4>Photography.</h4></div>
            <div class="squares"></div>
          </div>

          <div class="pricing-content-b">
            <div class="text-justify home-card-title">
              MAKE
            </div>
            <div class="text-justify">
              Canon
            </div>
            <div class="text-justify home-card-title">
              MODEL
            </div>
            <div class="text-justify">
              Canon EOS ED Mark II
            </div>
            <div class="text-justify home-card-title">
              SHUTTER SPEED
            </div>
            <div class="text-justify">
              1/4000s
            </div>
            <div class="text-justify home-card-title">
              APERTURE
            </div>
            <div class="text-justify">
              f/4.5
            </div>
            <div class="text-justify home-card-title">
              LOCAL LENGTH
            </div>
            <div class="text-justify">
              230mm
            </div>
            <div class="text-justify home-card-title">
              ISO
            </div>
            <div class="text-justify">
              250
            </div>
          </div>
          <div class="footer-pricing">
            <table>
              <tr>
                <td>
                  <h4>50$</h4>
                </td>
                <td>
                  <hr class="pricing-explore-hr"/>
                </td>
                <td>
                  <h4>EXPLORE</h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--colage empty-->
  <div class="row separation">
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
  </div>
  <div class="row separation-1">
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
    <div class="col-md-3">
      <img src="./assets/images/logotype1.png" />
    </div>
  </div>

  <!--additional text-->
  <div class="row separation">
    <div class="col-md-12 text-center">
      <h1>Sign up for our newsletter
        to <br/> receive special offers.</h1>
    </div>
  </div>
  <div class="row separation-2">
    <div class="col-md-12 text-center">
      <hr class="home-hr-testimonials"/>
    </div>
  </div>

  <!--text list-->
  <div class="row separation">
      <div class="col-md-12 text-center">
        <input type="text" value="" placeholder="ENTER YOUR EMAIL ADDRESS" />
        <button class="button-right">OK</button>
      </div>
  </div>
</div>
