<header class="b-header">

  <!--[if lt IE 7]>
  <p class="browsehappy">Nos está visitando con un <strong>navegador antiguo</strong>. Para disfrutar este
    sitio que hemos preparado para ti, por favor descarga un navegador más nuevo y mejor <a
      href="http://browsehappy.com/">aquí</a>, gracias.</p>
  <![endif]-->


  <!--<li class="leaf" *ngIf="_authService.isLoggedIn()">
               <a title="Cerrar sesión" (click)="logout()">Salir</a>
             </li>-->

<!-- Just an image -->

</header>
