$font-color-menu : #ffffff;
$font-color-subtitle : #ffffff;
$home-card-title : #282828;
$font-size-menu:14pt;
$font-size-normal:10pt;
$font-size-text-home:18pt;
$font-h2-size:58pt;
$font-h3-size:48pt;
$font-h4-size:12pt;
$br:40px;
$font-type: Myriad Pro;
