<app-menu-top type_menu="contact"></app-menu-top>
<div class="container">
  <div class="row separation contact-section">
    <div class="col-md-3">
      <h1>
        Let's chat
      </h1>
      <hr class="hr-format" />
      <div class="text-justify normal-text">
        A photo - is a search for what can get into frame. When you limit events to a frame - You change
          these events
      </div>
      <div class="separation contact-squares">
        <h5>
          LEAVE A MESSAGE
        </h5>
        <div class="squares"></div>
      </div>
    </div>
    <div class="col-md-9 text-center">
      <img src="./assets/images/map.png" class="img-fluid">
    </div>
  </div>
</div>
