<footer>
  <div class="container separation separation-1-bottom">
    <div class="row">
      <div class="col-md-4">
        <h4>OFFICE</h4>
        <div class="normal-text">756 Livingston Street,</div>
        <div class="normal-text">Brooklyn, NY 11201</div>
      </div>
      <div class="col-md-4">
        <h4>OFFICE</h4>
        <div class="normal-text">Work@e.oliver.com</div>
        <div class="normal-text">+1(00)123-45-67</div>
      </div>
      <div class="col-md-4">
        <h4>SOCIAL</h4>
        <div class="normal-text">Connect with me on facebook,</div>
        <div class="normal-text">twitter or instagrem</div>
      </div>
    </div>
  </div>
</footer>
