<app-menu-top type_menu="about"></app-menu-top>
<div class="container">
  <div class="row separation">
    <div class="col-md-12 text-center">
      <img src="./assets/images/comm.png"/>
      <h1 class="font-italic">
        Photograpy - is the most
      </h1>
      <h1 class="font-italic">
        democratic of all arts.
      </h1>
    </div>
  </div>

  <div class="row separation">
    <div class="col-md-12 text-center">
      <hr class="hr-vertical" />
    </div>
  </div>

  <div class="row separation-1">
    <div class="col-md-6 text-right">
      <div class="image-about">
        <div class="image-number"><h2>01.</h2></div>
        <img src="./assets/images/image2.png" class="img-about"/>
        <img src="./assets/images/image-right.png" class="left-image-bg"/>
      </div>
    </div>
    <div class="col-md-6 text-justify">
      <h4>2015 YEAR</h4>
      <h1>Beginning of a</h1>
      <h1>Photographer's career.</h1>
      <div class="text-justify about-content separation-2">
        The world of design is ruled by diversity, and it's good. Another question is
        whether to consider a lot of pieces of furniture as trash. That's it is this
        <hr class="hr-format about-hr-position"/>
      </div>
    </div>
  </div>

  <div class="row separation-1">
    <div class="col-md-6 text-justify">
      <div class="position-text">
        <h4>2015 YEAR</h4>
        <h1>Beginning of the office.</h1>
        <div class="text-justify about-content invertion separation-2">
          The world of design is ruled by diversity, and it's good. Another question is
          whether to consider a lot of pieces of furniture as trash. That's it is this
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-about revert">
        <div class="image-number invert"><h2>02.</h2></div>
        <img src="./assets/images/image2.png" class="img-about"/>
        <img src="./assets/images/image-right.png" class="right-image-bg"/>
      </div>
    </div>
  </div>

  <div class="row separation-1">
    <div class="col-md-6 text-right">
      <div class="image-about">
        <div class="image-number"><h2>03.</h2></div>
        <img src="./assets/images/image2.png" class="img-about"/>
        <img src="./assets/images/image-right.png" class="left-image-bg"/>
      </div>
    </div>
    <div class="col-md-6 text-justify">
      <h4>2015 YEAR</h4>
      <h1>Beginning of a</h1>
      <h1>Photographer's career.</h1>
      <div class="text-justify about-content separation-2">
        The world of design is ruled by diversity, and it's good. Another question is
        whether to consider a lot of pieces of furniture as trash. That's it is this
        <hr class="hr-format about-hr-position"/>
      </div>
    </div>
  </div>

  <div class="row separation">
    <div class="col-md-4 text-justify">
      <h5>Experience.</h5>
      <h4 class="separation-2">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">2016</h4>

      <h4 class="separation-2">EXPERIENCE.</h4>
      <h4 class="color-opacity-title">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">2016</h4>
    </div>
    <div class="col-md-4 text-justify">
      <h5>Education.</h5>
      <h4 class="separation-2">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">2016</h4>

      <h4 class="separation-2">EXPERIENCE.</h4>
      <h4 class="color-opacity-title">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">2016</h4>
    </div>
    <div class="col-md-4 text-justify">
      <h5>Equipment.</h5>
      <h4 class="separation-2">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">2016</h4>

      <h4 class="separation-2">EXPERIENCE.</h4>
      <h4 class="color-opacity-title">Photo Agency Shutter</h4>
      <h4 class="color-opacity-title">2016</h4>
    </div>
  </div>


</div>
<div class="separation">
  <img src="./assets/images/video.jpg" class="image-total">
</div>

<!--additional text-->
<div class="row separation">
  <div class="col-md-12 text-center">
    <h1>Sign up for our newsletter
      to <br/> receive special offers.</h1>
  </div>
</div>
<div class="row separation-2">
  <div class="col-md-12 text-center">
    <hr class="hr-vertical-global"/>
  </div>
</div>

<!--text list-->
<div class="row separation">
  <div class="col-md-12 text-center">
    <input type="text" value="" placeholder="ENTER YOUR EMAIL ADDRESS" />
    <button class="button-right">OK</button>
  </div>
</div>
